@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
    font-display: swap;    
}

:root {
    --primary-color: #8f0101;
    --secondary-color: #b81515;
    
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #000000;
    --text-secondary-color: #ffffff;

    --titles-weights: 700;
    --text-weights: 400;
    --menu-text-weights: 500;
}
 
    /* menu: 500;
    footer: 400;
    cards 400 e 700;/*


/* CSS reset*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-color);
    font-weight: var(--titles-weights);
    font-family: 'Montserrat';
}